<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXuYkldWPQFsGw872AaEugQYtiG8tqf_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>206284194158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ppas.ppasBook</string>
	<key>PROJECT_ID</key>
	<string>internppashub</string>
	<key>STORAGE_BUCKET</key>
	<string>internppashub.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206284194158:ios:bd3c6407a936c3d97f417f</string>
</dict>
</plist>